body
{
	background-image:url('images/wallpaper.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

section
{
  background-color: rgba(27, 54, 105, .4);
}

h1{
	color:#0b4a72;
	text-align: center;
	font-family:"Arial";
	font-weight:bold;
	font-size:250%;
}

h2{
	color:#096cab;
	text-align: left;
	font-family:"Arial";
	font-weight:bold;

	margin-top: 1em;
  	padding-top: 1em;
}

p
{
	font-family: "Arial";
	color:cyan;
	font-size: 120%;
	text-align: center;
}

p.ref
{
	font-size: 70%;
	text-align: justify;
}

li, th{
	font-family: "Arial";
	color: cyan;
}

td{
	font-family: "Arial";
	color: white;
}

body {
  margin: 0 auto;
  max-width: 60em;

  line-height: 1.5;
  padding: 4em 1em;
}

h2.a {
    position: absolute;
    top: 140px;
    border: 3px solid cyan;
} 

button {
   border-top: 1px solid #0d1680;
   background: #3e589c;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e589c), to(#3e589c));
   background: -webkit-linear-gradient(top, #3e589c, #3e589c);
   background: -moz-linear-gradient(top, #3e589c, #3e589c);
   background: -ms-linear-gradient(top, #3e589c, #3e589c);
   background: -o-linear-gradient(top, #3e589c, #3e589c);
   padding: 2.5px 5px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
button:hover {
   border-top-color: #06154a;
   background: #06154a;
   color: #ccc;
   }
button:active {
   border-top-color: #010a29;
   background: #010a29;
   }

ol{
	list-style-type: upper-roman;
}

#serif-font {
    font-family: "Times New Roman", Times, serif !important;
}

#size{
    font-size: 190%;
}

#div1, #div2, #div3 {
    /*float: left; Esto mantiene los recuadros en un mismo renglón, pero sacrifica otros estilos, usaré una tabla mejor */
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}